.main {
    height: 100%;
    display: grid;
    color: white;
}

#root {
    height: 100%;
}

.sliding-div {
    overflow: auto;
    height: 100%;
    display: flex;
    align-items: center;
    grid-area: 1 / 1;
}

.search-bar {
    grid-area: 1 / 1;
    justify-content: center;
    align-items: center;
    display: inline-grid;
    z-index: 1;
    position: absolute;
    padding-top: 45vh;
    padding-left: 45vw;
}

.card-image {
    height: 90%;
    padding: 0 4% 0 4%;
    display: flex;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center; 
    background-color: #3F3F3F;
}