@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@200&display=swap');

@mixin transform($value){
    -webkit-transform: ($value);
        -moz-transform: ($value);
        -ms-transform: ($value);
            transform: ($value);
}

$backgroundcolor: #2c2d33;

.main {
    height: 100%;
    display: grid;
    color: white;
}

#root {
    height: 100%;
}

.sliding-div {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    display: flex;
    align-items: center;
    grid-area: 1 / 1;
}

.sliding-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.title {
    grid-area: 1 / 1;
    justify-content: center;
    align-items: center;
    display: inline-grid;
    z-index: 1;
    position: absolute;
    margin-top: 45vh;
    margin-left: 22.5vw;
    width: 55vw;
    font-size: calc(max(8vw, 7vh));
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    //-webkit-text-stroke: 2px black;
    text-shadow: 4px 4px 10px black;
}

.home-scroll-left-div {
    z-index: 2;
    position: absolute;
    left: 2vw;
    top: -2vh;
    transform: rotate(90deg) scale(0.5);
}

.home-scroll-right-div {
    z-index: 2;
    position: absolute;
    left: 95vw;
    top: -5.25vh;
    transform: rotate(270deg) scale(0.5);
}

.home-mouseover-scroll-div {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 15vh;
    width: 15vw;
}

.left-scroll {
    left: 0;
}

.right-scroll {
    right: 0;
}

.arrow {
    display: inline-grid;
    transform: translate(-50%,-50%);
}
  
.arrow span{
    display: block;
    width: 9vh;
    height: 9vh;
    border-bottom: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@-webkit-keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.search-bar {
    grid-area: 1 / 1;
    justify-content: center;
    align-items: center;
    display: inline-grid;
    z-index: 1;
    position: absolute;
    margin-top: 65vh;
    margin-left: 22.5vw;
}

.search-input {
    width: 55vw;
    height: 10vh;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.815);
}

.search-input input {
    width: 85%;
    height: 100%;
    border-radius: 15px;
}

.search-input .ant-input {
    font-size: 3vh;
    padding-left: 4vh;
    font-family: 'Bebas Neue', cursive;
}

.search-input .ant-input-wrapper  {
    height: 100%;
}

.search-input button {
    height: 100%;
    width: 100%;
}

.search-input .ant-input-group-addon {
    width: 10%;
    border-radius: 15px !important;
}

.search-input svg{
    font-size: 20px;
}

.search-input .ant-input-search-button {
    border-radius: 0px 15px 15px 0px !important;
    border-color: white;
}

.search-header-div {
    width: 100%;
    background-color: rgb(25, 24, 29);
    height: 4rem;
    display: flex;
    align-items: center;
}

.search-header-logo {
    height: 2.3rem;
    margin-left: 2vw;
    cursor: pointer;
}

.search-bar-header-input {
    display: flex;
    justify-content: center;
    width: 78%;
}

.search-bar-header-title {
    grid-area: 1 / 1;
    font-size: 4.5vh;
    margin-left: 0.8vw;
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    text-align: center;
    color: white;
}

.search-bar-header-scale {
    transform: scale(0.6);
}

.search-bar-header-scale .ant-input{
    font-size: 4vh;
}

.card-image {
    max-height: 90vh;
    max-width: 90vw;
    padding: 0 4% 0 4%;
    display: flex;
}

.results-card-image {
    height: 50vh;
    padding: 6% 2% 6% 2%;
    display: flex;
}

.results-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
}

.results-cards {
    padding-top: 5vh;
    justify-content: right;
    width: 80vw;
}

.results-grid-item {
    justify-content: center;
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center; 
    background-color: $backgroundcolor;
}

$timeshow: 0.05s;
$timeup: 0.35s;
.results-card-image:hover {
    -webkit-animation: scaleUp $timeup  $timeshow ease-out forwards; 
    -moz-animation:    scaleUp $timeup  $timeshow ease-out forwards; 
    -o-animation:      scaleUp $timeup  $timeshow ease-out forwards; 
    animation:         scaleUp $timeup  $timeshow ease-out forwards;  
}

@keyframes scaleUp {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(1.1));
    }
}

@-webkit-keyframes scaleUp {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(1.1));
    }
}

@keyframes popOut {
    0% {
        @include transform(scale());
    }
    100% {
        @include transform(scale(1.1));
    }
}

@-webkit-keyframes popOut {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(1.1));
    }
}

.cardpage-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100vw;
}

.cardpage-info {
    width: 60vw;
    margin-top: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    justify-content: center;
}

.cardpage-name {
    width: 100%;
    font-size: calc(max(6vw, 5vh));
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    color: white;
}

.cardpage-header {
    min-width: 80vw;
    max-width: 100%;
    font-size: calc(max(3vw, 3.25vh));
    font-family: 'Roboto Slab', serif;
    margin-bottom: 8vh;
    white-space: wrap;
    color: white;
    font-weight: 200;
}

.cardpage-divider {
    width: 40vw;
    font-size: 3vh;
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    background-color: white;
    
}

.cardpage-grid {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cardpage-description {
    font-size: calc(max(2vw, 3vh));
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
}

.cardpage-markettype {
    font-size: calc(max(2vw, 3vh));
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    text-align: left;
    align-items: center;
    display: flex;
}

.cardpage-card-div {
    width: 35vw;
    min-width: 60vh;
    margin-top: 6vh;
}

.cardpage-card {
    max-height: 80vh;
    max-width: 90vw;
}

.cardpage-normalprice {
    font-size: calc(max(2.25vw, 3.25vh));
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    color: rgb(229, 229, 153);
    font-weight: 200;
}

.cardpage-lowprice {
    font-size: calc(max(2.25vw, 3.25vh));
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    color: rgb(199, 120, 120);
    font-weight: 200;
}

.cardpage-midprice {
    font-size: calc(max(2.25vw, 3.25vh));
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    color: rgb(139, 139, 218);
    font-weight: 200;
}

.cardpage-highprice {
    font-size: calc(max(2.25vw, 3.25vh));
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    color: rgb(133, 194, 133);
    font-weight: 200;
}

.cardpage-setlogo {
    height: 8vh;
    display: flex;
    align-items: flex-start;
}

.cardpage-extra-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5vh;
}

.extra-info {
    display: flex;
    align-items: flex-start !important;
}

.cardpage-marketinfo-div {
    padding-bottom: 3vh;
}

// .cardpage-card:hover {
//     -webkit-animation: scaleUp $timeup  $timeshow ease-out forwards; 
//     -moz-animation:    scaleUp $timeup  $timeshow ease-out forwards; 
//     -o-animation:      scaleUp $timeup  $timeshow ease-out forwards; 
//     animation:         scaleUp $timeup  $timeshow ease-out forwards;  
// }
